<div class="contacto text-center pt-5">
    <h2>Contáctanos</h2> <br>
    <div class="row">
        <div class="col-lg-4">
            <p>Horario laboral <br> <br>
                Lun - Vie: 9:00 - 22:00 <br>
                Sab: 9:00 - 19:00 <br>
                Dom: 11:00 - 19:00 <br>
            </p>
        </div>
        <div class="col-lg-4">
            <p>Dirección <br> <br>
                Av. Fray Antonio Alcalde 10 <br>
                784, Los Andes, La Paz
            </p>
        </div>
        <div class="col-lg-4">
            <p>Datos de contacto <br> <br>
                Tel: +52-1-33-12345678 <br>
                E-mail: infor&#64;gmail.com
            </p>
        </div>
    </div>
    <div class="row formulario text-center pt-5 pb-5">
        <div class="mapa col-lg-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15300.916823517195!2d-68.14050664648235!3d-16.514522297134018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f208ada6401db%3A0xefadce62e96bccf7!2sSan%20Jorge%2C%20La%20Paz!5e0!3m2!1ses-419!2sbo!4v1710687923057!5m2!1ses-419!2sbo"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-lg-6">
            <form>
                <label for="name"></label>
                <input type="text" id="name" name="name" required placeholder="Nombre"><br><br>

                <label for="email"></label>
                <input type="email" id="email" name="email"  placeholder="Email" required><br><br>

                <label for="subject"></label>
                <input type="text" id="subject" name="subject" placeholder="Asunto" required><br><br>

                <label for="message"></label><br>
                <textarea id="message" name="message" rows="4" placeholder="Escribe tu mensaje aqui.." required></textarea><br><br>

                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</div>