<div class="contenedor">
    <img src="./../../../assets/portada2.png" />
    <div class="centrado">
        <h2>Intensifica tu felicidad. <br>
            Medita.</h2>
        <br>
        <div class="flex flex-wrap align-items-center justify-content-center">
            <div class="zoomindown animation-duration-3000  flex align-items-center justify-content-center
                font-bold bg-primary border-round m-2 px-5 py-3">
                <button type="button" class="btn btn-dark p-3">Nuestras Clases</button>
            </div>
        </div>
    </div>
</div>
<section class="text-center p-5">
    <h2>Acerca de Sereno Zen</h2>
    <p>La gente vive dentro de los mundos de su propia mente,
        que se compone de su vida vivida, cuerpo y hábitos.
        Las personas crean sus propios mundos de mente falsa almacenando sus recuerdos como imágenes y, debido a esto,
        viven atrapados dentro de estos mundos hechos a sí mismos.
        El mundo de la mente falsa está moldeado por la vida de las personas
        han vivido y por la experiencia, han tenido. </p><br>
        <div class="grid">
            <div class="sm:col-12 card2 p-5 md:col-6 lg:col-4">
                 <img src="./../../../assets/vicion.jpg" alt="">
                    <h4 class="p-2 font-bold ">Visicion</h4>
                    <p>Meditar es un momento en el que intencionalmente renunciamos a la victimización, el drama y a las
                        reacciones desadaptativas ante el estrés. Es un trabajo interno muy dinámico en el que decidimos
                        tomar
                        lo mejor de nosotros mismos, pero con una visión correcta, evitando los extremos del nihilismo y
                        el
                        existencialismo. </p>
            </div>
            <div class="sm:col-12 card2 p-5 md:col-6 lg:col-4">
                <img src="./../../../assets/historia.jpg" alt="">
                    <h4 class="p-2 font-bold"> historia</h4>
                    <p>La meditación es una sabiduría espiritual universal y una práctica que se encuentra en el núcleo
                        de todas
                        las grandes tradiciones religiosas. Lleva al practicante de la mente al corazón y a la
                        integración de
                        estos dos centros del ser humano. No es una práctica esotérica, complicada o esencialmente
                        difícil. </p>
            </div>
            <div class="sm:col-12 card2 p-5 md:col-12 lg:col-4" >
                    <img src="./../../../assets/comunidad.jpg" alt="" >
                <h4 class="p-2 font-bold">Comunidad</h4>
                <p>Te invitamos a unirte a la comunidad global de Shambhala mientras nos reunimos para practicar por
                    el
                    bienestar de los demás el segundo domingo de cada mes.. Maitri Bhavana es una práctica que se
                    realiza en
                    beneficio de los enfermos graves, o para grandes turbulencias y desastres globales. </p>
                
            </div>
        </div>
</section>
<!--CARRUCEL-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./../../../assets/carrusel_1.1.jpg" width="100%">
        </div>

        <div class="carousel-item">
            <img src="./../../../assets/carrusel_2.2.jpg" width="100%">
        </div>
        <div class="carousel-item">
            <img src="./../../../assets/carrusel_3.3.jpg" width="100%">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="texto text-center p-5">
    <h2 style="font-family:Brush Script MT; font-size: 55px;">"La mente serena trae fuerza interior y

        confianza en sí, así que es muy importante para

        una buena salud".

    </h2>
    <p>Su Santidad, el 14º Dalai Lama</p>
</div>
<div class="suscripcion text-center p-5">
    <p style="font-family:Homer Simpson UI; font-size: 35px;">Mantente al día</p>
    <p>Únete a nuestra lista de correo de Sereno Zen</p>
    <form>
        <input type="text" id="name" name="name" placeholder="Nombre">
        <input type="email" id="email" name="email" placeholder="Email">
        <button type="submit">Enviar</button>
    </form>

</div>