<div class="servicio text-center p-5">
    <h2>Nuestras Clases</h2>
    <p>Poderosas técnicas de respiración y conocimiento que pueden cambiar tu vida.

        Aprende a meditar con tu propio mantra personal para aquietar la mente. Cuando el sistema nervioso puede
        descansar en profundo silencio, todas las tensiones y bloqueos internos se disuelven. </p>
</div>

<div class="row gap-5 pb-5 text-center">
    <div class="col-sm-6 col col-lg-4 card  p-0">
        <img src="./../../../assets/carrusel_3.jpg" alt="">
        <h4 class="p-2">Seccion de Meditacion Invidual</h4>
        <p>Lun, Mar, Mié, Jue, Vie <br>
            1 h 30 min <br>
            $1,500
        </p>
        <div class="flex flex-wrap align-items-center justify-content-center">
            <div class="fadeinright animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
                    font-bold  py-3">
                <a href="" class="boton"> Reservar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 card p-0">
        <img src="./../../../assets/carrusel_2.jpg" alt="">
        <h4 class="p-2"> Meditacion en grupo</h4>
        <p>Lun, Mar, Mié <br>
            1 h 30 min <br>
            $1,000
        </p>
        <div class="flex flex-wrap align-items-center justify-content-center">
            <div class="scalein animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
                    font-bold bg-primary border-round m-2 px-5 py-3">
                <a href="" class="boton"> Reservar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 card p-0">
        <img src="./../../../assets/carrusel_1.jpg" alt="">
        <h4 class="p-2">Inicion a la meditacion</h4>
        <p>Lun, Mar, Mié, Jue, Vie <br>
            1 h 30 min <br>
            $1,100
        </p>
        <div class="flex flex-wrap align-items-center justify-content-center">
            <div class="fadeinleft animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
                 border-round py-3">
                <a href="" class="boton"> Reservar</a>
            </div>
        </div>
    </div>
</div>

<div class="row text-center p-0">
    <div class="col-sm-6">
        <h4>Meditación presencial <br> 50 mins</h4><br><br>
        <p>Conferencia
            Meditación
            <br><br>
            Extensión
        </p>

        <div class="flex flex-wrap align-items-center justify-content-center">
            <div class="scalein animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
                    font-bold bg-primary border-round m-2 px-5 py-3">
                <a href="" class="boton">Contactarce</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="./../../../assets/img_1.jpg" alt="" width="100%">
        <img src="./../../../assets/img_2.jpg" alt="" width="100%">
    </div>

</div>