<div class="row digital text-center">
    <div class="col-lg-6 col  pt-5 ps-3">
        <h4>SIÉNTETE ACOMPAÑADO</h4><br>
        <h2>Continua tu viaje hacia el Ser</h2><br>
        <p>Muchas veces queremos incorporar hábitos positivos en nuestra vida como meditar, ir al gimnasio o comer
            saludable. ¡Pero no siempre es tan fácil!
            Tener una guía que te acompañe durante el proceso, puede ser la diferencia para que el cambio sea sostenible
            y duradero.
            A través de la Membresía de El Arte de Vivir encontrarás ese acompañamiento a través clases de respiración,
            meditación, yoga y sabiduría, así como beneficios y descuentos exclusivos.</p>
    </div>
    <div class="col-lg-6 portada text-center">
        <img src="./../../../assets/portada_2.png" alt="" width="100%" >
    </div>

</div>

<div class="sc p-5 text-center">
    <h4 class="p-5">¿QUE TE GUSTARIA INICIAR?</h4>
    <div class="grid ">
        <div class="col-12 sm:col-12 md:col-6  contenedor">
            <img src="./../../../assets/cards_1.jpg" alt="" >
            <div class="centrado ">
                <h4>RESPIRAR</h4>
                <P>Encuentra cursos y técnicas de respiración ideales para calmar la mente.</P>
            </div>
        </div>
        <div class="col-12 sm:col-12 md:col-6 contenedor"> <img src="./../../../assets/cards_2.jpg" alt="">
            <div class="centrado ">
                <h4>MEDITAR</h4>
                <P>Descansa con más de 30 meditaciones guiadas por Gurudev Sri Sri Ravi Shankar.</P>
            </div>
        </div>
        <div class="col-12 sm:col-12 md:col-6  contenedor">
            <img src="./../../../assets/cards_3.jpg" alt="">
            <div class="centrado ">
                <h4>YOGA</h4>
                <P>Encuentra cursos y técnicas de respiración ideales para calmar la mente.</P>
            </div>
    
        </div>
        <div class=" col-12 sm:col-12 md:col-6  contenedor">
            <img src="./../../../assets/cards_4.jpg" alt="">
            <div class="centrado ">
                <h4>SABIDURÍA</h4>
                <P>Accede a cientos de videos de sabiduría ancestral relatados por Gurudev Sri Sri Ravi Shankar.</P>
            </div>
    
        </div>
    </div>
</div>

<div class="accordion accordion-flush  m-5 p-5 text-center" id="accordionFlushExample">
    <h2 class="pb-5">Preguntas frecuentes</h2>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                ¿Qué es la Sereno Zen?
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">La membresía es una plataforma que ofrece una gran variedad de herramientas
                holísticas para calmar la mente y conectarte con vos. Encontrarás clases de yoga, meditación, técnicas
                de respiración, conferencias de sabiduría milenaria, clases magistrales en vivo, música de mantras,
                descuentos en cursos de El Arte de Vivir y mucho más.</div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ¿Cuáles son los medios de pago?
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Cualquier tarjeta de crédito o débito.</div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                ¿Hay algún horario para acceder al contenido?
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Puedes entrar en el momento del día que más te convenga. El contenido está allí
                para que lo disfrutes a toda hora.</div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFourd">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFourd" aria-expanded="false" aria-controls="flush-collapseThree">
                ¿Dónde puedo usar la membresía?
            </button>
        </h2>
        <div id="flush-collapseFourd" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Disfruta donde quieras, cuando quieras. Inicia sesión en tu cuenta de la
                Membresía de El Arte de Vivir para ver contenido al instante desde tu computadora, celular o tablet.
            </div>
        </div>
    </div>
</div>